/* Move down content because we have a fixed navbar that is 50px tall */
.navbar {
	margin-bottom: 0;
}

header {
	background: #0052A5;
}

header .container {
	padding: 10px 0;
	background: #0052A5;
}

.logo {
	padding: 5px 0
}

.

.navbar-inverse {
	border: 0;
}


.logo img {
	max-width: 200px;
}

footer {
	border-top: 2px solid red;
	background: #ccc;
	padding: 1em 0;
}


.sidebar .panel-heading {
	background: #0052A5;
	border-color: #0052A5;
	color: #eee;
}
	
	
.search-main,
.btn-sell {
	padding: 1.25em .5em;
}
	