---
menukey: forms
header_text: Forms
menu_expand: dashboard
---

<%content_for :subnav do%>
<%=partial 'dashboard-navigation'%>
<%end%>

    <div class="row">
        <div class="col-md-4">

            <h2>&nbsp;</h2>
            <form class="">
                <div class="form-group">
                    <!-- Text input-->
                    <label class="control-label" for="input01">Text input</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                        <p class="help-block">Supporting help text</p>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Select Basic -->
                    <label class="control-label">Select - Basic</label>
                    <div class="controls">
                        <select class="form-control">
                            <option>Apple</option>
                            <option>Orange</option>
                            <option>Grape</option>
                            <option>Banana</option>
                            <option>Peach</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">

                    <!-- Select Multiple -->
                    <label class="control-label">Select - Multiple</label>
                    <div class="controls">
                        <select class="form-control" multiple="multiple">
                            <option>Peanut</option>
                            <option>Walnut</option>
                            <option>Acorn</option>
                            <option>Pecan</option>
                            <option>Cashew</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Textarea -->
                    <label class="control-label">Textarea</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea type="" class="form-control" rows="5"> </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Appended checkbox -->
                    <label class="control-label">Append checkbox</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                    </div><!-- /input-group -->
                </div>

                <div class="form-group">

                    <!-- Prepended text-->
                    <label class="control-label">Prepended Text</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                </div>

                <div class="form-group">
                    <label class="control-label">Checkboxes</label>
                    <div class="controls">

                        <!-- Multiple Checkboxes -->
                        <label class="checkbox">
                        <input type="checkbox" value="Option one">
                        Option one
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" value="Option two">
                        Option two
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" value="Option three">
                        Option three
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" value="Option four">
                        Option four
                        </label>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label">Inline radios</label>
                    <div class="controls">

                        <label class="radio-inline">
                            <input type="radio" id="inlineCheckbox1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="inlineCheckbox2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="inlineCheckbox3" value="option3"> 3
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Buttons</label>

                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
