---
menukey: help
header_text: Help
---


<div class="faq-content">
    <div class="row">
        <div class="col-sm-8">
            <h2>Help and Support<span class="info">A variety of support options are available to you</span></h2>
            <h2>Popular Topics</h2>
            <div class="row">
            <div class="col-md-4 col-sm-6">
            <ul style="margin-bottom: 2em;">
                <li><a href="#">What if I have a question?</a></li>
                <li><a href="#">Where can I get support?</a></li>
                <li><a href="#">How long does it take to fix a problem?</a></li>
                <li><a href="#">Who can help me out?</a></li>
                <li><a href="#">Where are you located?</a></li>
            </ul>
            </div>
            <div class="col-md-4 col-sm-6">
            <ul style="margin-bottom: 2em;">
                <li><a href="#">What if I have a question?</a></li>
                <li><a href="#">Where can I get support?</a></li>
                <li><a href="#">How long does it take to fix a problem?</a></li>
                <li><a href="#">Who can help me out?</a></li>
                <li><a href="#">Where are you located?</a></li>
            </ul>
            </div>
            <div class="col-md-4 hidden-sm">
            <ul style="margin-bottom: 2em;">
                <li><a href="#">What if I have a question?</a></li>
                <li><a href="#">Where can I get support?</a></li>
                <li><a href="#">How long does it take to fix a problem?</a></li>
                <li><a href="#">Who can help me out?</a></li>
                <li><a href="#">Where are you located?</a></li>
            </ul>
            </div>
            </div>
                
            <h2>Help Options</h2>
                <div class="row" style="text-align: center;">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p><a href="#" class="grid btn">Your Account</a></p>
                        <p><a href="#" class="grid btn" >Past Orders</a></p>
                        <p><a href="#" class="grid btn">Your Profile</a></p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p><a href="#" class="grid btn">Your Account</a></p>
                        <p><a href="#" class="grid btn">Past Orders</a></p>
                        <p><a href="#" class="grid btn">Your Profile</a></p>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <p><a href="#" class="grid btn">Your Account</a></p>
                        <p><a href="#" class="grid btn">Past Orders</a></p>
                        <p><a href="#" class="grid btn">Your Profile</a></p>
                    </div>
                    <div class="col-md-3 col-xs-4 hidden-xs">
                        <p><a href="#" class="grid btn">Your Account</a></p>
                        <p><a href="#" class="grid btn">Past Orders</a></p>
                        <p><a href="#" class="grid btn">Your Profile</a></p>
                    </div>
                    <div class="clearfix"></div>
            </div>

            <h2>Some Helpful Information</h2>
            <p>Suspendisse eu dapibus elit. Vivamus pharetra lacus nec erat feugiat vestibulum ac eu ligula. Vivamus posuere libero facilisis, facilisis eros quis, eleifend est. Duis pellentesque neque vitae pharetra ultrices.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sed est aliquam accumsan. Phasellus eleifend fermentum ullamcorper. Nulla mi mi, egestas id tortor non, auctor consectetur mi. Praesent in ante dolor. Proin pharetra nec augue quis imperdiet.</p>

            <div class="well banner">
                <a class="btn btn-primary well-btn pull-right">Start Now</a>
                <h2>Premium Support Available</h2>
                <p>Ground round bacon shoulder sausage pastrami corned beef shank ball tip.</p>
            </div>


            <h2>A help topic goes here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sed est aliquam accumsan. Phasellus eleifend fermentum ullamcorper. Nulla mi mi, egestas id tortor non, auctor consectetur mi.</p>

            <p>Suspendisse eu dapibus elit. Vivamus pharetra lacus nec erat feugiat vestibulum ac eu ligula. Vivamus posuere libero facilisis, facilisis eros quis, eleifend est. Duis pellentesque neque vitae pharetra ultrices. Fusce volutpat leo ipsum, eu suscipit elit accumsan ac.</p>

            <h2>An answer to a common problem</h2>
            <p>Suspendisse eu dapibus elit. Vivamus pharetra lacus nec erat feugiat vestibulum ac eu ligula. Vivamus posuere libero facilisis, facilisis eros quis, eleifend est. Duis pellentesque neque vitae pharetra ultrices.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ligula sed est aliquam accumsan. Phasellus eleifend fermentum ullamcorper. Nulla mi mi, egestas id tortor non, auctor consectetur mi. Praesent in ante dolor. Proin pharetra nec augue quis imperdiet.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1 hidden-xs well sidebar blog-sidebar">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                    </span>
                </div>
                <h3>Popular Topics</h3>
                <ul class="icon list-unstyled" style="padding-left: 0px;">
                  <li><a href="#"><i class="icon-angle-right"></i> Orders</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> Billing</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> Shipping</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> Returns</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> Your Account</a></li>
                  <li><a href="#"><i class="icon-angle-right"></i> Products</a></li>
                </ul>
            </div>
            <div class="toc">
                <h3>Call Us</h3>
                <p>+1-123-333-4321</p>
                <h3>Email Us</h3>
                <p><a href="#">hello@example.com</a></p>
                <h3>Address</h3>
                <address>
                2817 S 49th<br>
                Apt 314<br>
                San Jose, CA 95101
                </address>
                <div>
                    <button class="btn"><i class="icon-facebook"></i></button>
                    <button class="btn"><i class="icon-twitter"></i></button>
                    <button class="btn"><i class="icon-linkedin"></i></button>
                    <button class="btn"><i class="icon-google-plus"></i></button>
                    <button class="btn"><i class="icon-pinterest"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


