---
menukey: pricing
header_text: Pricing
---

<%content_for :head do%>
<%end%>

<div class="row">
    <div class="col-md-12">

        <h2>Upgrade your account<span class="info">All plans include a 30 day, money back guarantee.</span></h2>

        <div class="pricing non-spaced four hidden-xs">
            <div class="product">
                <h2 class="text-info">Economy</h2>
                <ul>
                    <li class="price large">$8.99 / month</span><br>
                    <li>1 user</li>
                    <li>Limited Access</li>
                    <li>5MB of space</li>
                    <li>No Support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
            <div class="product">
                <h2 class="text-info">Bronze</h2>
                <ul>
                    <li class="price large">$24.99 / month</li>
                    <li>20 users</li>
                    <li>Unlimited access</li>
                    <li>1GB of space</li>
                    <li>Email Support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
            <div class="product popular">
                <h2 class="text-info">Silver</h2>
                <ul>
                    <li class="price large">$75.99 / month</li>
                    <li>50 users</li>
                    <li>Unlimited access</li>
                    <li>100GB of space</li>
                    <li>Priority support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
            <div class="product">
                <h2 class="text-info">Enterprise</h2>
                <ul>
                    <li class="price large">Contact for pricing</li>
                    <li>Unlimited users</li>
                    <li>Unlimited access</li>
                    <li>Unlimited space</li>
                    <li>24/7 Phone Support</li>
                </ul>          
                <p class="call-to-action"><a class="btn" href="#"><i class="icon-ok"></i> Contact Sales</a></p>
            </div>

            <div style="clear: both;"></div>
        </div>


        <h2 class="hidden-xs">Alternate Pricing Tables <span class="info">Choose the one that works best for your product</span></h2>
        <div style="height: 2em" class="hidden-xs"></div><!--Remove me when you choose a table-->
        <div class="pricing non-spaced three hidden-xs">
            <div class="product">
                <h2 class="text-info">Bronze</h2>
                <ul>
                    <li class="price large">$8.99 / month</span><br>
                    <li>1 user</li>
                    <li>Limited Access</li>
                    <li>5MB of space</li>
                    <li>No Support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
            <div class="popular product">
                <h2 class="text-info">Silver</h2>
                <ul>
                    <li class="price large">$24.99 / month</li>
                    <li>20 users</li>
                    <li>Unlimited access</li>
                    <li>1GB of space</li>
                    <li>Email support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
            <div class="product">
                <h2 class="text-info">Gold</h2>
                <ul>
                    <li class="price large">$75.99 / month</li>
                    <li>50 users</li>
                    <li>Unlimited access</li>
                    <li>100GB of space</li>
                    <li>Priority support</li>
                </ul>          
                <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>

            <div style="clear: both;"></div><!--Leave this here-->
            <div style="height: 2em"></div><!--Remove me when you choose a table-->
        </div>

        <div class="row pricing">
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Economy</h2>
                    <ul>
                        <li class="price large">$8.99 / month</li>
                        <li>1 user</li>
                        <li>Limited Access</li>
                        <li>5MB of space</li>
                        <li>No Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Bronze</h2>
                    <ul>
                        <li class="price large">$24.99 / month</li>
                        <li>20 users</li>
                        <li>Unlimited access</li>
                        <li>1GB of space</li>
                        <li>Email Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Silver</h2>
                    <ul>
                        <li class="price large">$75.99 / month</li>
                        <li>50 users</li>
                        <li>Unlimited access</li>
                        <li>100GB of space</li>
                        <li>Priority support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Enterprise</h2>
                    <ul>
                        <li class="price large">Contact Sales</li>
                        <li>Unlimited users</li>
                        <li>Unlimited access</li>
                        <li>Unlimited space</li>
                        <li>24/7 Phone Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn" href="#"><i class="icon-ok"></i> Contact Sales</a></p>
                </div>
            </div>

            <div style="clear: both;"></div>
            <div style="height: 2em"></div><!--Remove me when you choose a table-->
        </div>
        <div class="row pricing">
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Economy</h2>
                    <ul>
                        <li class="price">$8.99 / month</li>
                        <li class="info">For single user teams</li>
                        <li>1 user</li>
                        <li>Limited Access</li>
                        <li>5MB of space</li>
                        <li>No Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Bronze</h2>
                    <ul>
                        <li class="price">$24.99 / month</li>
                        <li class="info">For medium sized teams</li>
                        <li>20 users</li>
                        <li>Unlimited access</li>
                        <li>1GB of space</li>
                        <li>Email Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Silver</h2>
                    <ul>
                        <li class="price">$75.99 / month</li>
                        <li class="info">For very large teams</li>
                        <li>50 users</li>
                        <li>Unlimited access</li>
                        <li>10GB of space</li>
                        <li>Priority support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn btn-success" href="#"><i class="icon-ok"></i> Select plan</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product">
                    <h2 class="text-info">Enterprise</h2>
                    <ul>
                        <li class="price">Contact us for pricing</li>
                        <li class="info">For very large enterprises</li>
                        <li>Unlimited users</li>
                        <li>Unlimited access</li>
                        <li>Unlimited space</li>
                        <li>24/7 Phone Support</li>
                    </ul>          
                    <p class="call-to-action"><a class="btn" href="#"><i class="icon-ok"></i> Contact Sales</a></p>
                </div>
            </div>

            <div style="clear: both;"></div>
        </div>


    </div>
</div>

